<% layout('layout/boilerplate') -%>
<link rel="stylesheet" href="/css/auth.css">

<div class="container">
    <div class="auth_container">
        <h4>Pievienojies!</h4>
        <% if(error.length) {%>
            <p class="error_msg"><%= error %></p>
            <% } %>
            <p id="notAllowedChar" class="error_msg" hidden>Speciālās rakstīmes lietotājvārdā nav atļautas</p> 
        <form action="/auth/register" method="post">
            <div>
                <label for="username">Lietotājvārds</label>
                <input type="text" name="register[username]" id="username" required minlength="4" oninput="validTitle(this.value)">
            </div>

           <div>
                <label for="email">E-pasts</label>
                <input type="email" name="register[email]" id="email" required>
           </div>

           <div>
                <label for="password">Parole</label>
                <input type="password" name="register[password]" id="password" required minlength="6">
           </div>

           <div id="auth_button">
               <button>Reģistrēties</button>
           </div>

        </form>
    </div>
</div>
<script>
    let specCharWarning = document.getElementById("notAllowedChar");
    function validTitle(input){
        const regex = /^[a-zA-Z0-9]*$/.test(input);
        !regex ? specCharWarning.hidden = false : specCharWarning.hidden = true;
    }
</script>