<link rel="stylesheet" href="/css/header.css">

<header>
    <a href="/">
        <div class="title">
            Blogzz
        </div>
    </a>
    <nav>
        <div class="user_nav">
            Sveiks! <%= username %>
            <a href="/user/profile"><button>Profils</button></a>
            <a href="/blogs/new"><button>Jauns blogs</button></a>
        </div>
        <div class="auth_nav">
            <a href="/auth/login"><button>Ienākt</button></a>
            <a href="/auth/register"><button>Reģistrēties</button></a>

            <form action="/auth/logout" method="POST">
                <a href="#"><button>Iziet</button></a>
            </form>
            
        </div>
    </nav>
</header>

<!-- <div class="content_nav">
    <a href="">Sports</a>
    <a href="">Politics</a>
    <a href="">Auto/Moto</a>
    <a href="">Lifestyle</a>
    <a href="">Technology</a>
</div> -->

<div class="content_nav">
    <form class="blog_categories_form" action="/blogs" method="post">
        <button name="categorieTitle" value="sports">Sports</button>
    </form>
    <form class="blog_categories_form" action="/blogs" method="post">
        <button name="categorieTitle" value="politics">Politics</button>
    </form>
    <form class="blog_categories_form" action="/blogs" method="post">
        <button name="categorieTitle" value="auto">Auto</button>
    </form>
    <form class="blog_categories_form" action="/blogs" method="post">
        <button name="categorieTitle" value="lifestyle">Lifestyle</button>
    </form>
    <form class="blog_categories_form" action="/blogs" method="post">
        <button name="categorieTitle" value="technology">Technology</button>
    </form>
</div>