<link rel="stylesheet" href="/css/header.css">

<header>
    <a href="/">
        <div class="title">
            Blogzz
        </div>
    </a>
    <nav>
        <div class="auth_nav">
            <a href=""><button>Login</button></a>
            <a href=""><button>Register</button></a>
        </div>
    </nav>
</header>

<div class="content_nav">
    <a href="">Sports</a>
    <a href="">Politics</a>
    <a href="">Auto/Moto</a>
    <a href="">Lifestyle</a>
    <a href="">Technology</a>
</div>

<div class="content_nav">
    <form action="/blog" method="post">
        <button name="categorie" value="sports">Sports</button>
    </form>
    <form action="/blog" method="post">
        <button name="categorie" value="politics">Politics</button>
    </form>
    <form action="/blog" method="post">
        <button name="categorie" value="auto">Auto</button>
    </form>
    <form action="/blog" method="post">
        <button name="categorie" value="lifestyle">Lifestyle</button>
    </form>
    <form action="/blog" method="post">
        <button name="categorie" value="technology">Technology</button>
    </form>
</div>