<link rel="stylesheet" href="/css/header.css">

<header>
    <a href="/">
        <div class="title">
            Blogzz
        </div>
    </a>
    <nav>
        <div class="user_nav">
            <a href="/user/profile"><button>Profile</button></a>
            <a href="/blogs/new"><button>New blog</button></a>
        </div>
        <div class="auth_nav">
            <a href="/auth/login"><button>Login</button></a>
            <a href="/auth/register"><button>Register</button></a>

            <form action="/auth/logout" method="POST">
                <a href="#"><button>Logout</button></a>
            </form>
            
        </div>
    </nav>
</header>

<!-- <div class="content_nav">
    <a href="">Sports</a>
    <a href="">Politics</a>
    <a href="">Auto/Moto</a>
    <a href="">Lifestyle</a>
    <a href="">Technology</a>
</div> -->

<div class="content_nav">
    <form class="blog_categories_form" action="/blogs" method="post">
        <button name="categorie" value="sports">Sports</button>
    </form>
    <form class="blog_categories_form" action="/blogs" method="post">
        <button name="categorie" value="politics">Politics</button>
    </form>
    <form class="blog_categories_form" action="/blogs" method="post">
        <button name="categorie" value="auto">Auto</button>
    </form>
    <form class="blog_categories_form" action="/blogs" method="post">
        <button name="categorie" value="lifestyle">Lifestyle</button>
    </form>
    <form class="blog_categories_form" action="/blogs" method="post">
        <button name="categorie" value="technology">Technology</button>
    </form>
</div>