<link rel="stylesheet" href="/css/header.css">

<header>
    <a href="/">
        <div class="title">
            Blogzz
        </div>
    </a>
    <nav>
        <div class="auth_nav">
            <a href=""><button>Login</button></a>
            <a href=""><button>Register</button></a>
        </div>
    </nav>
</header>

<div class="content_nav">
    <a href="">Sport</a>
    <a href="">Politics</a>
    <a href="">Culture</a>
    <a href="">Lifestyle</a>
</div>