<% layout('layout/boilerplate') -%>
<link rel="stylesheet" href="/css/home.css">

<div class="container">

    <!-- ****************************************************
                    TOP RATED BLOG POSTS  (MAX 5)
    ***************************************************** -->
    <div class="top_rated_blogs_container">
        
        <a href="">
            <div class="top_rated_blog">
                <div class="category_rating_container">
                    <p class="top_rated_blog_category">SPORT</p>
                    <p class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </p>
                </div>
                <h5>Šodienas spēle bija psc!...</h5>
                <p class="top_blog_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptas ipsam labore nostrum itaque exercitationem</p>
            </div>
        </a>

        <a href="">
            <div class="top_rated_blog">
                <div class="category_rating_container">
                    <p class="top_rated_blog_category">SPORT</p>
                    <p class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </p>
                </div>
                <h5>Šodienas spēle bija psc!...</h5>
                <p class="top_blog_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptas ipsam labore nostrum itaque exercitationem</p>
            </div>
        </a>

        <a href="">
            <div class="top_rated_blog">
                <div class="category_rating_container">
                    <p class="top_rated_blog_category">SPORT</p>
                    <p class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </p>
                </div>
                <h5>Šodienas spēle bija psc!...</h5>
                <p class="top_blog_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptas ipsam labore nostrum itaque exercitationem</p>
            </div>
        </a>

        <a href="">
            <div class="top_rated_blog">
                <div class="category_rating_container">
                    <p class="top_rated_blog_category">LIFESTYLE</p>
                    <p class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </p>
                </div>
                <h5>Šodienas spēle bija psc!...</h5>
                <p class="top_blog_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptas ipsam labore nostrum itaque exercitationem</p>
            </div>
        </a>

        <a href="">
            <div class="top_rated_blog">
                <div class="category_rating_container">
                    <p class="top_rated_blog_category">POLITICS</p>
                    <p class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </p>
                </div>
                <h5>Šodienas spēle bija psc!...</h5>
                <p class="top_blog_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptas ipsam labore nostrum itaque exercitationem</p>
            </div>
        </a>
        
    </div>



    <!-- ****************************************************
            MAIN PAGE FEED FOR BLOGS AND LAST ACTIVITY IN PAGE 
        ***************************************************** -->
    <div class="feed_container">

        <!-- ****************************************************
        section on left side, main blog feed - all category blogs 
        ***************************************************** -->
        <div class="main_blog_feed_left">
            <div class="blog_container">
                <div>
                    <a href=""><h1>Šodienas spēle bija psc!</h1></a>
                </div>
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptas ipsam labore nostrum itaque exercitationem, aspernatur tempore facere, voluptatem perspiciatis soluta! Vitae incidunt accusamus, inventore quisquam itaque commodi obcaecati eius!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae totam veritatis, harum officiis quaerat dicta commodi culpa obcaecati cupiditate aliquid, voluptatibus quis quam illo distinctio, nemo eos error similique quibusdam?
                </div>
                <div>
                    <p>Author Martins</p>
                    <p>14.03.2021</p>
                </div>
            </div>
        </div>
    
         <!-- *******************************************************
        section on right side, homepage activity, last added comments 
        ********************************************************* -->
        <div class="page_activity_feed_right">
            Last comments
        </div>
        
    </div>
</div>

