header {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(87, 20, 20, 0.5);
    background: linear-gradient(290deg, rgba(255, 255, 255, 1) 40%, rgba(55, 55, 55, 1) 100%);
}

header a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

header a .title {
    font-size: 2.4rem;
    font-family: 'Syne Mono', monospace;
    padding-left: 20px;
    color: white;
    text-shadow: 1px 1px 5px;

}

header nav {
    display: flex;
    align-items: center;
}

header nav .user_nav {
    margin-right: 20px;
}

header nav .user_nav a button {
    border: none;
    margin: 5px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 10px;
    font-size: 0.8rem;
    box-shadow: 1px 1px 1px black;
}

header nav .user_nav a:hover button {
    cursor: pointer;
    background-color: whitesmoke;
}




header nav .auth_nav {
    display: flex;
}

header nav .auth_nav a button {
    border: none;
    margin: 5px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 10px;
    font-size: 0.8rem;
    box-shadow: 1px 1px 1px black;
}

header nav .auth_nav a:hover button {
    cursor: pointer;
    background-color: whitesmoke;
}


/* NAV LINKS - BUTTONS */
.content_nav {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    background-color: rgba(87, 20, 20, 0.5);
    box-shadow: 0px 2px 2px rgba(87, 20, 20, 0.5);
    display: flex;
}

.content_nav .blog_categories_form {
    width: 20%;
    text-align: center;
}

.content_nav .blog_categories_form button {
    width: 100%;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.content_nav form button:hover {
    background-color: rgba(87, 20, 20, 0.7);
    cursor: pointer;
}

.login_success_greet {
    margin-right: 30px;
    font-size: 1.3rem;
    /* color: red; */
}