header {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(87, 20, 20, 0.5);
    background-color: rgba(0, 0, 0, 0.8);
}

header a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

header a .title {
    font-size: 2.5rem;
    font-family: 'Syne Mono', monospace;
    padding-left: 20px;
    color: white;
    text-shadow: 1px 3px 7px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav .user_nav {
    margin-right: 20px;
}

header nav .user_nav a button {
    border: 3px solid black;
    margin: 5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    font-size: 1rem;
}

header nav .user_nav a:hover button {
    cursor: pointer;
    border: 3px solid white;
}

header nav .auth_nav {
    display: flex;
}

header nav .auth_nav a button {
    border: 3px solid black;
    margin: 5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 1px 1px 1px black;
}

header nav .auth_nav a:hover button {
    cursor: pointer;
    border: 3px solid white;
}


/* NAV LINKS - BUTTONS */
.content_nav {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    background-color: rgba(87, 20, 20, 0.5);
    box-shadow: 0px 2px 2px rgba(87, 20, 20, 0.5);
    display: flex;
}

.content_nav .blog_categories_form {
    width: 20%;
    text-align: center;
}

.content_nav .blog_categories_form button {
    width: 100%;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.content_nav form button:hover {
    background-color: rgba(87, 20, 20, 0.7);
    cursor: pointer;
}

.login_success_greet {
    margin-right: 30px;
    font-size: 1.3rem;
    color: white;
}


@media screen and (max-width: 960px) {
    .login_success_greet {
        font-size: 0.7rem;
    }

    .content_nav .blog_categories_form button {
        box-shadow: 0 3px 3px black;
        font-size: 0.7rem;
    }
}


@media screen and (max-width: 660px) {
    header {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-size: 0.7rem;
    }

    header a .title {
        font-size: 1.9rem;
        padding-left: 0px;
        margin-right: 80px;
        color: white;
    }

    header nav .auth_nav a button {
        border: none;
        margin-right: 10px;
        padding: 5px 10px;
        border: 1px solid rgba(0, 0, 0, 0.486);
        font-size: 0.8rem;
    }

    header nav .user_nav a button {
        font-size: 0.8rem;
    }

    .login_success_greet {
        display: none;
    }

    .content_nav .blog_categories_form {
        width: 100%;
        text-align: center;
    }

    .content_nav .blog_categories_form button {
        box-shadow: 0 3px 3px black;
        font-size: 0.7rem;
    }

}

@media screen and (max-width: 426px) {

    header {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-size: 0.7rem;
    }

    header a .title {
        font-size: 1.4rem;
        padding-left: 0px;
        margin-right: 20px;
        color: white;
    }

    header nav {
        justify-content: center;
    }

    header nav .auth_nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header nav .auth_nav a button {
        border: none;
        margin-right: 10px;
        padding: 5px 10px;
        border: 1px solid rgba(0, 0, 0, 0.486);
        font-size: 0.7rem;
        border-radius: 3px;
    }

    header nav .auth_nav a:hover button {
        cursor: pointer;
        background-color: whitesmoke;
    }

    header nav .user_nav {
        display: flex;
        justify-content: space-evenly;

    }

    header nav .user_nav a button {
        margin-right: 5px;
        font-size: 0.8rem;
        border: 1px solid rgba(0, 0, 0, 0.486);
        background-color: rgba(0, 0, 0, 0.4);
    }


    .login_success_greet {
        display: none;
    }

    .content_nav {
        margin-top: 5px;
        width: 60%;
        display: flex;
        flex-direction: column;
    }

    .content_nav .blog_categories_form {
        width: 100%;
        text-align: center;
    }

    .content_nav .blog_categories_form button {
        margin-top: 5px;
        box-shadow: 0 3px 3px black;
        font-size: 1rem;
    }

}