/* *******************
ALL CONENT CONTAINER
********************* */
.container {
    width: 80%;
    margin: 0 auto;
}

/* *******************
MAX 5 TOP RATED BLOGS
********************* */
.top_rated_blogs_container {
    background-color: rgba(78, 75, 75, 0.123);
    margin-top: 5px;
    border-top: 3px solid rgba(78, 75, 75, 0.377);
    border-bottom: 3px solid rgba(78, 75, 75, 0.377);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    display: flex;
    /* justify-content: space-around; */
}

/* each top blog / link to */
.top_rated_blogs_container a {
    text-decoration: none;
    width: 18%;
    margin: auto;
    box-shadow: 0px 5px 5px white;
    border-radius: 5px;
}

.top_rated_blogs_container a:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 8px white;
}

.top_rated_blogs_container .top_rated_blog {
    padding: 5px;
    margin: 5px;
    background: linear-gradient(114deg, rgba(255, 255, 255, 1) 0%, rgba(175, 174, 174, 1) 92%);
    border-radius: 5px;
}

.top_rated_blogs_container .top_rated_blog .category_rating_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: white; */
    color: black;
    padding: 5px;
}

.top_rated_blogs_container .top_rated_blog .category_rating_container p {
    margin: 0;
}

.top_rated_blogs_container .top_rated_blog .rating {
    text-align: right;
    padding-right: 10px;
    color: grey;
    /* margin: 0; */
}

.top_rated_blogs_container .top_rated_blog .rating .checked {
    color: rgb(221, 11, 11);
}

.top_rated_blogs_container .top_rated_blog h5 {
    text-align: left;
    margin: 0px 0px 0px;
    font-size: 1rem;
    padding: 5px;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
}

.top_rated_blogs_container .top_rated_blog .top_blog_text {
    font-size: 0.8rem;
    text-align: justify;
    padding: 5px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
}


/* *******************************
MAIN PAGE FEED, BLOGS AND ACTIVITY 
******************************** */

/* BLOG FEED  */
.feed_container {
    display: flex;
}

.main_blog_feed_left {
    width: 60%;
    padding: 20px;
    margin: 20px 0px;
    max-height: 120vh;
    overflow: auto;
}

.main_blog_feed_left .blog_container {
    background-color: whitesmoke;
    box-shadow: 1px 2px 3px black;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

/* TITLE */
.main_blog_feed_left .blog_container .blog_title {
    display: flex;
    justify-content: space-between;
}

.main_blog_feed_left .blog_container .blog_title a {
    text-decoration: none;
}

.main_blog_feed_left .blog_container .blog_title h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 2rem;
}

.main_blog_feed_left .blog_container .blog_title h1:hover {
    color: rgba(0, 0, 0, 0.4);
}

.main_blog_feed_left .blog_container .blog_title p {
    padding: 10px;
    font-size: 1.3rem;
    box-shadow: 5px 2px 3px black;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 6%, rgba(28, 28, 32, 0.7455357142857143) 90%, rgba(255, 0, 9, 0.6951155462184874) 94%, rgba(34, 33, 30, 1) 98%);
    color: white;
    font-weight: bold;
    display: flex;
    align-self: flex-start;
}

/* TEXT */
.main_blog_feed_left .blog_container .blog_text {
    background-color: rgba(0, 0, 0, 0.02);
    padding: 10px;
    text-indent: 25px;
    text-align: justify;
    border-radius: 10px;
}

/*  BOTTOM OF BLOG, RATING/AUTHOR.... */
.main_blog_feed_left .blog_container .blog_author_date_rating {
    display: flex;
    justify-content: space-between;
}


.main_blog_feed_left .blog_container .blog_author_date_rating .author_date p:last-child {
    font-size: 0.7rem;
}

.main_blog_feed_left .blog_container .blog_author_date_rating .author_icon {
    font-size: 1.3rem;
    margin-right: 10px;
}

.main_blog_feed_left .blog_container .blog_author_date_rating .checked {
    color: rgb(221, 11, 11);
}

/* ACTIVITY FEED / LAST COMENT */
.page_activity_feed_right {
    width: 34%;
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px;
}

.page_activity_feed_right .last_comments_title {
    color: black;
    font-size: 1.4rem;
}

.page_activity_feed_right .comment_feed {
    background-color: rgba(87, 20, 20, 0.384);
    padding: 10px;
    margin-bottom: 10px;
}

.page_activity_feed_right .comment_feed .blog_of_comment {
    margin: 10px;
    color: white;
}

.page_activity_feed_right .comment_feed .blog_of_comment a {
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 5px;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    border-radius: 5px;
}

.page_activity_feed_right .comment_feed .comment {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.page_activity_feed_right .comment_feed .comment .comment_text {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 0.8rem;
}

.page_activity_feed_right .comment_feed .comment .comment_author {
    margin: 0;
}

.page_activity_feed_right .comment_feed .comment .comment_author strong {
    font-size: 0.9rem;
}

.page_activity_feed_right .comment_feed .comment .comment_author em {
    float: right;
}