/* *******************
ALL CONENT CONTAINER
********************* */
.container {
    width: 80%;
    margin: 0 auto;
}

/* *******************
MAX 5 TOP RATED BLOGS
********************* */
.top_rated_blogs_container {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 5px;
    border-top: 3px solid rgba(78, 75, 75, 0.377);
    border-bottom: 3px solid rgba(78, 75, 75, 0.377);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.top_rated_blogs_container>p {
    margin: 0;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px;
    border-radius: 5px;
}

.top_rated_blogs_container .top_rated {
    display: flex;
}

/* each top blog / link to */
.top_rated_blogs_container .top_rated a {
    text-decoration: none;
    width: 18%;
    margin: auto;
    box-shadow: 0px 5px 5px white;
    border-radius: 5px;
}

.top_rated_blogs_container a:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 8px white;
}

.top_rated_blogs_container .top_rated .top_rated_blog {
    padding: 5px;
    margin: 5px;
    background: linear-gradient(114deg, rgba(255, 255, 255, 1) 0%, rgba(175, 174, 174, 1) 92%);
    border-radius: 5px;
}

.top_rated_blogs_container .top_rated_blog .category_rating_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 5px;
}

.top_rated_blogs_container .top_rated_blog .category_rating_container p {
    margin: 0;
}

.top_rated_blogs_container .top_rated_blog .rating {
    text-align: right;
    padding-right: 10px;
    color: grey;
    /* margin: 0; */
}

.top_rated_blogs_container .top_rated_blog .rating .checked {
    color: rgb(221, 11, 11);
}

.top_rated_blogs_container .top_rated_blog h5 {
    text-align: left;
    margin: 0px 0px 0px;
    font-size: 0.6rem;
    padding: 5px;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
}

.top_rated_blogs_container .top_rated_blog .top_blog_text {
    /* text-decoration: none; */
    font-size: 0.5rem;
    text-align: justify;
    padding: 5px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
}


/* *******************************
MAIN PAGE FEED, BLOGS AND ACTIVITY 
******************************** */

/* BLOG FEED  */
.feed_container {
    display: flex;
}

.main_blog_feed_left {
    width: 60%;
    padding: 20px;
    margin: 20px 0px;
    max-height: 165vh;
    overflow: auto;
    position: relative;
}

.main_blog_feed_left a {
    text-decoration: none;
    color: black;
}

.main_blog_feed_left a:hover .blog_container {
    transform: scale(1.03);
    filter: brightness(1.3);
}

.main_blog_feed_left .blog_container {
    box-shadow: 1px 2px 3px black;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 20px;
    position: relative;
}

/* background images depending on category*/
.bg_img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.sports {
    background-image: url("/images/sports.jpg");
}

.auto {
    background-image: url("/images/auto.jpg");
}

.lifestyle {
    background-image: url("/images/lifestyle.jpg");
}

.politics {
    background-image: url("/images/politics.jpg");
}

.technology {
    background-image: url("/images/technology.jpg");
}





/* TITLE */
.main_blog_feed_left .blog_container .blog_title {
    display: flex;
    justify-content: space-between;
}

.main_blog_feed_left .blog_container .blog_title h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 2rem;
}

.main_blog_feed_left .blog_container .blog_title p {
    padding: 10px;
    font-size: 1.3rem;
    box-shadow: 5px 2px 3px black;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 6%, rgba(28, 28, 32, 0.7455357142857143) 90%, rgba(255, 0, 9, 0.6951155462184874) 94%, rgba(34, 33, 30, 1) 98%);
    color: white;
    font-weight: bold;
    display: flex;
    align-self: flex-start;
}

/* TEXT */
.main_blog_feed_left .blog_container .blog_text {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    text-indent: 25px;
    text-align: justify;
    border-radius: 10px;
}

/*  BOTTOM OF BLOG, RATING/AUTHOR.... */
.main_blog_feed_left .blog_container .blog_author_date_rating {
    display: flex;
    justify-content: space-between;
}


.main_blog_feed_left .blog_container .blog_author_date_rating .author_date p:last-child {
    font-size: 0.7rem;
}

.main_blog_feed_left .blog_container .blog_author_date_rating .author_icon {
    font-size: 1.3rem;
    margin-right: 10px;
}

.main_blog_feed_left .blog_container .blog_author_date_rating .checked {
    color: rgb(221, 11, 11);
}

/* ACTIVITY FEED / LAST COMENT */
.page_activity_feed_right {
    width: 34%;
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px;
}

.page_activity_feed_right .last_comments_title {
    color: black;
    font-size: 1.4rem;
}

.page_activity_feed_right .comment_feed {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin-bottom: 10px;
}

.page_activity_feed_right .comment_feed a {
    text-decoration: none;
    color: black;
}

.page_activity_feed_right .comment_feed a:hover .comment {
    background-color: rgb(226, 226, 247);
}

.page_activity_feed_right .comment_feed .blog_of_comment {
    margin: 10px;
    color: white;
}

.page_activity_feed_right .comment_feed .blog_of_comment p {
    margin: 0;
}

.page_activity_feed_right .comment_feed .blog_of_comment .comment_of {
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6);
    display: block;
    text-align: center;
    padding: 5px;
}

.page_activity_feed_right .comment_feed .comment {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.page_activity_feed_right .comment_feed .comment .comment_text {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 0.8rem;
}

.page_activity_feed_right .comment_feed .comment .comment_author {
    margin: 0;
}

.page_activity_feed_right .comment_feed .comment .comment_author strong {
    font-size: 0.9rem;
}

.page_activity_feed_right .comment_feed .comment .comment_author em {
    float: right;
}

.comment_q {
    background-color: black;
    border-radius: 10px;
    padding: 2px 7px;
    color: white;
}

@media screen and (max-width: 1260px) {

    .top_rated_blogs_container {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }

    .top_rated_blogs_container>p {
        margin: 0;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 4px;
        border-radius: 5px;
        font-size: 0.6rem;
    }

    .top_rated_blogs_container .top_rated {
        display: flex;
    }

    /* each top blog / link to */
    .top_rated_blogs_container a {
        width: 100%;
    }

    .top_rated_blogs_container .top_rated .top_rated_blog {
        padding: 5px;
        margin: 3px;
    }

    .top_rated_blogs_container .top_rated .top_rated_blog .rating {
        padding-right: 5px;
        font-size: 0.5rem;
    }

    .top_rated_blogs_container .top_rated .top_rated_blog h5 {
        font-size: 0.5rem;
    }

    .top_rated_blogs_container .top_rated .top_rated_blog .top_blog_text {
        font-size: 0.4rem;
        background-color: white;
    }


    /* blog */
    .main_blog_feed_left {
        width: 65%;
        padding: 5px;
        margin: 5px 0px;
        max-height: 150vh;
        overflow: auto;
    }

    .main_blog_feed_left .blog_container {
        box-shadow: 1px 5px 5px black;
        border-radius: 5px;
        padding: 9px;
        margin-bottom: 10px;
    }

    /* TITLE */
    .main_blog_feed_left .blog_container .blog_title {
        flex-direction: column;
    }

    .main_blog_feed_left .blog_container .blog_title h1 {
        color: rgba(0, 0, 0, 1);
        font-size: 1.2rem;
    }

    .main_blog_feed_left .blog_container .blog_title p {
        padding: 5px;
        font-size: 0.6rem;
        margin: 0;
        box-shadow: 2px 2px 2px black;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 6%, rgba(28, 28, 32, 0.7455357142857143) 90%, rgba(255, 0, 9, 0.6951155462184874) 94%, rgba(34, 33, 30, 1) 98%);
        color: white;
        font-weight: bold;
    }

    /* TEXT */
    .main_blog_feed_left .blog_container .blog_text {
        padding: 6px;
        font-size: 0.6rem;
        text-indent: 10px;
    }

    /*  BOTTOM OF BLOG, RATING/AUTHOR.... */
    .main_blog_feed_left .blog_container .blog_author_date_rating {
        flex-direction: column;
    }

    .main_blog_feed_left .blog_container .blog_author_date_rating .author_date p:first-child {
        font-size: 0.8rem;
    }

    .main_blog_feed_left .blog_container .blog_author_date_rating .author_date p:last-child {
        font-size: 0.5rem;
    }

    .main_blog_feed_left .blog_container .blog_author_date_rating .author_icon {
        font-size: 0.8rem;
        margin-right: 5px;
    }

    .main_blog_feed_left .blog_container .commentsQ_rating {
        font-size: 0.6rem;
    }

    /* comments */
    .page_activity_feed_right {
        width: 30%;
        margin: 5px auto;
        border-radius: 5px;
        padding: 5px;
    }

    .page_activity_feed_right .last_comments_title {
        color: black;
        font-size: 0.9rem;
    }

    .page_activity_feed_right .comment_feed {
        background-color: rgba(0, 0, 0, 0.4);
        padding: 5px;
        margin-bottom: 10px;
    }

    .page_activity_feed_right .comment_feed .blog_of_comment {
        margin: 5px;
        color: white;
    }

    .page_activity_feed_right .comment_feed .blog_of_comment p {
        margin: 0;
        font-size: 0.7rem;
    }

    .page_activity_feed_right .comment_feed .blog_of_comment .comment_of {
        font-weight: bold;
        font-size: 0.7rem;
        color: rgba(0, 0, 0, 0.6);
        display: block;
        text-align: center;
        padding: 5px;
    }

    .page_activity_feed_right .comment_feed .comment {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
    }

    .page_activity_feed_right .comment_feed .comment .comment_text {
        text-align: justify;
        margin-bottom: 10px;
        font-size: 0.6rem;
    }

    .page_activity_feed_right .comment_feed .comment .comment_author {
        font-size: 0.5rem;
        margin: 0;
    }

    .page_activity_feed_right .comment_feed .comment .comment_author strong {
        font-size: 0.5rem;
    }

    .page_activity_feed_right .comment_feed .comment .comment_author em {
        float: right;
        font-size: 0.6rem;
    }

    .comment_q {
        background-color: black;
        border-radius: 10px;
        padding: 2px 7px;
        color: white;
    }

}





@media screen and (max-width: 767px) {

    .top_rated_blogs_container {
        padding: 5px;
        display: flex;
        flex-direction: column;
        display: none;
    }

    /* each top blog / link to */
    .top_rated_blogs_container a {
        width: 100%;
    }

    .top_rated_blogs_container .top_rated .top_rated_blog {
        padding: 5px;
        margin: 1px;
    }

    .top_rated_blogs_container .top_rated .top_rated_blog .rating {
        padding-right: 5px;
    }

    .top_rated_blogs_container .top_rated .top_rated_blog h5 {
        font-size: 0.8rem;
    }

    .top_rated_blogs_container .top_rated .top_rated_blog .top_blog_text {
        font-size: 0.5rem;
        background-color: white;
    }

    /* hide last comments from home page feed*/
    .page_activity_feed_right {
        display: none;
    }

    /* blog */
    .main_blog_feed_left {
        width: 100%;
        padding: 5px;
        margin: 5px 0px;
        max-height: 120vh;
        overflow: auto;
    }

    .main_blog_feed_left .blog_container {
        /* background-color: whitesmoke; */
        box-shadow: 1px 5px 5px black;
        border-radius: 5px;
        padding: 9px;
        margin-bottom: 10px;
    }

    /* TITLE */
    .main_blog_feed_left .blog_container .blog_title {
        flex-direction: column;
    }

    .main_blog_feed_left .blog_container .blog_title h1 {
        color: rgba(0, 0, 0, 1);
        font-size: 1.2rem;
    }

    .main_blog_feed_left .blog_container .blog_title p {
        padding: 5px;
        font-size: 0.7rem;
        margin: 0;
        box-shadow: 2px 2px 2px black;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 6%, rgba(28, 28, 32, 0.7455357142857143) 90%, rgba(255, 0, 9, 0.6951155462184874) 94%, rgba(34, 33, 30, 1) 98%);
        color: white;
        font-weight: bold;
    }

    /* TEXT */
    .main_blog_feed_left .blog_container .blog_text {
        padding: 6px;
        font-size: 0.7rem;
        text-indent: 10px;
    }

    /*  BOTTOM OF BLOG, RATING/AUTHOR.... */
    .main_blog_feed_left .blog_container .blog_author_date_rating {
        flex-direction: column;
    }

    .main_blog_feed_left .blog_container .blog_author_date_rating .author_date p:first-child {
        font-size: 0.9rem;
    }

    .main_blog_feed_left .blog_container .blog_author_date_rating .author_date p:last-child {
        font-size: 0.6rem;
    }

    .main_blog_feed_left .blog_container .blog_author_date_rating .author_icon {
        font-size: 0.9rem;
        margin-right: 5px;
    }

    .main_blog_feed_left .blog_container .commentsQ_rating {
        font-size: 0.7rem;
    }

}