@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,100;1,700&family=Syne+Mono&display=swap');

/* font-family: 'Montserrat', sans-serif; // primary fontf for headings, links and so one
font-family: 'Syne Mono', monospace; // // font for brandings */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(290deg, rgba(249, 249, 249, 1) 22%, rgba(190, 184, 184, 1) 96%);
}